{
  "extends": [
    "stylelint-config-sass-guidelines"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "max-nesting-depth": 2,
    "property-no-vendor-prefix": null,
    "order/properties-alphabetical-order": null
  }
}
